body {
background-color: #e9e9e9;
font-family: 'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', arial, sans-serif;
}
/* pre { white-space: normal|nowrap|pre|pre-line|pre-wrap } */
pre {
white-space: pre-wrap;      /* CSS3 */
white-space: -moz-pre-wrap; /* Firefox */
white-space: -o-pre-wrap;   /* Opera 7 */
word-wrap: break-word;      /* Internet Explorer 5.5+ */
}
img {
/* max-width: 100%; */
max-width: 640px;
height: auto;
display: block;
border: 0;
}
li {
line-height: 200%;
}